/KT3/MyDaoGenerator/build/distributions/MyDaoGenerator.tar
/KT3/MyDaoGenerator/build/distributions/MyDaoGenerator.zip
/KT3/MyDaoGenerator/build/libs/MyDaoGenerator.jar
/KT3/MyDaoGenerator/build/scripts/MyDaoGenerator
/KT3/MyDaoGenerator/build/scripts/MyDaoGenerator.bat
/KT3/MyDaoGenerator/build/tmp/jar/MANIFEST.MF
/KT3*.iml
/KT3.gradle
/KT3/local.properties
/KT3/.idea/workspace.xml
/KT3/.idea/libraries
/KT3.DS_Store
/KT3/build
/KT3/captures
/KT3.externalNativeBuild
/KT3/YoukuPlayerOpenSDK/build
/KT3/vitamio_lib/build
/KT3.idea